[Desktop Entry]
Encoding=UTF-8
Name=qgit
GenericName=git GUI viewer
GenericName[pl]=Przeglądarka GUI dla git
Exec=qgit
Type=Application
Comment=git GUI viewer
Comment[pl]=Przeglądarka GUI dla git
Terminal=false
MimeType=inode/directory
ServiceTypes=KParts/ReadOnlyPart,Browser/View
X-KDE-BrowserView-Args=DetailedList
Categories=Qt;Development;RevisionControl;
